<div class="animate__animated animate__fadeIn">
    <h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
    <hr/>
    <h5>Seleccione la región</h5>

    <div class="row">
        <div class="col">
            <button *ngFor='let region of regiones' class="btn btn-outline-primary" [class]="getClaseCSS(region)" (click)='activarRegion(region)'>
                {{region | titlecase}}
            </button>
        </div>
    </div>

    <div *ngIf='regiones.length>0' class="row">
        <div class="col">
            <app-pais-tabla [paises]='paises'></app-pais-tabla>
        </div>
    </div>
</div>